*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body
{
    background-color: #24564e;
    background-image: url(/png/pattern_med_03_med_08.png);
}

/* The start of the Header */

.container
{
    margin: 0px 40px;
    padding: 40px 15px;
}
#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.menus ul :first-child a
{
    color: #e2bb53;
}
.menus ul span
{
    color: #e2bb53;
    
}
.menus ul
{
    margin-left: 300px;
}
ul
{
    list-style: none;
    display: flex;
    
}
ul a
{
    text-decoration: none;
    color: #fff;
    margin-right: 45px;
}
.icon ul a
{
    font-size: 20px;
}

/* The end of the Header */











/* The start of the Section One */

.section_one
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left, .right
{
    width: 50%;
}
.left h1 span
{
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 80px;
    border-bottom: 5px solid #e2bb53;
}
.left h1
{
    margin-bottom: 20px;
}


.left span
{
    font-size: 20px;
    color: #fff;
    font-family: 'Jost', 'sans-serif';
    
    
}
.list ul
{
    flex-direction: column;
}
.list ul
{
    margin-top: 20px;
    margin-left: 30px;
}

.list ul li
{
    color: #fff;
    margin: 10px 0px;
    font-size: 20px;
}
.list ul i
{
    color: #e2bb53;
}

.list a
{
    color: #fff;
    background-color: #e2bb53;
    padding: 25px 90px 25px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 400;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 50px;
    
}
.left a::before
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all .25s ease-out;
    content: '';
    background-color: #fff;
}
.left a::after
{
    box-sizing: border-box;
}

.right img
{
    width: 100%;
}
/* The end of the Section One */



















/* The Start of the Section Two */

.section_two
{
    width: 100%;
}
.all_box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.all_box span
{
    color: #e2bb53;
    border-bottom: 1px solid;
}

.box
{
    margin: 0 0 30px;
    padding: 0 15px;
    text-align: center;
    display: block;
}
.box1
{
    background-image: url(/jpg/prod_01-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 300px;
    
}
.box1:hover
{
    transform: scale(1.1);
}

.box2
{
    background-image: url(/jpg/prod_02-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 300px;
}
.box2:hover
{
    transform: scale(1.1);
}
.box3
{
    background-image: url(/jpg/prod_03-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 300px;
}
.box3:hover
{
    transform: scale(1.1);
}
.box4
{
    background-image: url(/jpg/prod_04-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 300px;
}
.box4:hover:hover
{
    transform: scale(1.1);
}
.image_text
{
    margin-top: 170px;
}

.image_text h6
{
    color: #fff;
    font-size: 30px;
    margin: 24px 0 12px;
    
}
.image_text p
{
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    display: block;
}


/* The End of the Section Two */
















/* The start of the Section Three */

.all_box_three
{
    padding: 8rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_section_three img
{
    max-width: 100%;
}
.image_section_three, .text_section_three
{
    width: 50%;
}
.text_section_three
{
    color: #f8eace;
}
.text_section_three span
{
    color: #e2bb53;
}
.text_section_three h6
{
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-weight: 50;
    
}
.text_section_three h5
{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 1;
}
.text_section_three p
{
    font-size: 19px;
    font-weight: 1;
    line-height: 2rem;
    margin-bottom: 60px;
}
.text_section_three h3
{
    font-size: 48px;
    margin-bottom: 20px;
}
.text_section_three a
{
    color: #fff;
    background-color: #e2bb53;
    padding: 25px 90px 25px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 400;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 50px;
    
}


/* The end of ther Section THree*/
































/* The start of the Section Four */

.general_boxes
{
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.general_boxes h6
{
    color: #fff;
    border-bottom: 2px solid #e2bb53;
    width: 12%;
    margin: auto;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.title
{
    text-align: center;
}
.title h3
{
    line-height: 1.2em;
    font-weight: 400;
    font-size: 48px;
    color: #e2bb53;
    letter-spacing: 5px;
    margin-top:  20px;
    margin-bottom: 30px;
}

.liste
{
    margin-bottom: 50px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.liste ul li a
{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 25px 90px 25px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 400;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 50px;
    
}

.boxes
{
    width: 100%;
    display: flex;
}
.box_1 img
{
    background-image: url(/jpg/prod_01-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 250px;
}
.box_1 .span, .box_2 .span, .box_3 .span, .box_4 .span
{
    background-color: #ea4a34;
    border-radius: 100%;
    padding: 1rem;
}

.box_2 img
{
    background-image: url(/jpg/prod_01-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 250px;
}
.box_3 img
{
    background-image: url(/jpg/prod_01-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 250px;
}
.box_4 img
{
    background-image: url(/jpg/prod_01-365x430.jpg);
    border-radius: 16px;
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    outline: none;
    margin: 50px 50px;
    width: 250px;
}

.box_text
{
    max-width: 100%;
    width: 250px;
    margin: auto;
    color: #fff;
    text-align: center;
    flex-direction: column;
}
.i
{
    color: #e2bb53;
    
}
.box_text ins
{
    color: #ea4a34;
    text-decoration: none;
    margin: 0 10px;
}

.box_text a
{
    text-decoration: none;
    color: #fff;
    
    
}
.box_text p
{
    margin-top: 20px;
    font-weight: 100;
    margin-bottom: 30px;

}
.add_btn
{
    color: #fff;
    background-color: #e2bb53;
    padding: 15px 50px 15px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 200;
    box-shadow: none;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
}

/* The end of the Section Four */

















